<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- <system.windows.forms jitDebugging="true" /> -->
	<runtime>
		<developmentMode enabled="true" />
    
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/thread-useallcpugroups-element -->
    <!--  -->
    <Thread_UseAllCpuGroups enabled="true"/> <!-- "required" by multi-cpu environments -->
    <GCCpuGroup enabled="true"/> <!-- required by above -->
    <gcServer enabled="true"/> <!-- required by above -->
  </runtime>
</configuration>