<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Taskmaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <!-- <system.windows.forms jitDebugging="true" /> -->
	<runtime>
    <developmentMode enabled="true"/>
    
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/thread-useallcpugroups-element -->
    <!--  -->
    <Thread_UseAllCpuGroups enabled="true"/> <!-- "required" by multi-cpu environments -->
    <GCCpuGroup enabled="true"/> <!-- required by above -->
    <gcServer enabled="true"/> <!-- required by above -->
  </runtime>
 <userSettings>
  <Taskmaster.Properties.Settings>
   <setting name="ImmediateSave" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowInTaskbar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoOpenMenus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExitConfirm" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WMIQueries" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WMIPolling" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WMIPollingInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="PathCacheLimit" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="SelfAffinity" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SelfOptimize" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowOnStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowProcessAdjusts" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSessionActions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeNeeded" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LicenseAccepted" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Dirty" serializeAs="String">
    <value>True</value>
   </setting>
  </Taskmaster.Properties.Settings>
 </userSettings>
</configuration>
