<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<targets async="true">
		<target name="Term" xsi:type="Console" layout="[${date:format=HH\:mm\:ss}] [${level}] ${callsite} :: ${message}"
			error="true" detectConsoleAvailable="false" />
		
		<target name="Logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/info.log"
			layout="${longdate} [${level}] ${message}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="2" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="true"
			/>
		<target name="Debugfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/debug.log"
			layout="${longdate} [${level}/${callsite}] ${message}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="2" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="true"
			/>
		<target name="Errorfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/error.log"
			layout="${longdate} [${level}/${logger}] ${message} ${exception:format=tostring}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="2" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="true"
			/>
	</targets>
	
	<rules>
		<logger name="*" minlevel="Info" writeTo="Logfile" />
		<logger name="*" minlevel="Warn" writeTo="Errorfile" />
		<logger name="*" minlevel="Debug" writeTo="Debugfile" />
		<logger name="*" minlevel="Trace" writeTo="Term" />
	</rules>
	
</nlog>