<?xml version="1.0" encoding="UTF-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/info.log"
			layout="${longdate} :: ${message}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="3" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="false"
			/>
		<target name="debugfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/debug.log"
			layout="${longdate} [${callsite}] ${message}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="3" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="false"
			/>
		<target name="errorfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Taskmaster/Logs/error.log"
			layout="${longdate} [${logger}] ${message}"
			encoding="utf-8"
			archiveAboveSize="500000" maxArchiveFiles="3" archiveNumbering="DateAndSequence" archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileAttributes="Archive" cleanupFileName="false" keepFileOpen="true" concurrentWrites="true"
			/>
		<target name="console" xsi:type="Console" layout="${callsite} :: ${message}" error="true" />
	</targets>
	
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorfile" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
	
</nlog>